page-randrange {

  .invalid {
    color: #ea6153 !important;
  }

  .rand-content {
    background: #b8c1ea;
    align-items: center;
    text-align: center;

    .my-text-wrap {
      white-space: normal;
    }

    .rand-box {
      background: #b8c1ea;
      padding: 20px 20px 0px 20px;
      margin-top: 30px;
    }

    ion-item {
      border-radius: 30px !important;
      padding-left: 30px !important;
      font-size: 0.9em;
      margin-bottom: 10px;
      border: 1px solid #ffffff;
      border-bottom: 0px !important;
      box-shadow: none !important;
    }

  }

}
